body {
  background-color: rgba(7, 143, 148, 0.829);
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-size: 16px;
  touch-action: none;
}
  
  #titulo {
    color: white;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .esconder {
    display: none !important;
  }
  
  #bannerRotarTelefono {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: coral;
    color: white;
    padding: 10px;
    margin-bottom: 5px;
  }
  
  #botonCerrarBanner {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 5px;
    background-color: coral;
    color: white;
    padding: 6px;
  }
  
  #puntos {
    color: rgb(0, 0, 0);
    margin-left: 52px;
    margin-bottom: 10px;
  }
  
  #contenedorJuego {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #contenedorNintendo {
    width: 94%;
    display: flex;
    flex-direction: column;
  }
  
  #juegoOverlay {
    position: relative;
  }
  
  #juegoCanvas {
    position: absolute;
    left: 16.9%;
    top: 5.19%;
    width: 73.8%;
    background-color: #ffffff;
  }
  
  #nintendo {
    width: 100%;
  }
  
  @media screen and (min-width: 768px) {
    #contenedorNintendo {
      width: 65%;
    }
  
    body {
      font-size: 20px;
    }
  }
  
  @media screen and (min-width: 1024px) {
    #contenedorNintendo {
      width: 50%;
    }
  
    body {
      font-size: 22px;
    }
  }
  
  @media screen and (min-width: 1280px) {
    #contenedorNintendo {
      width: 35%;
    }
  
    body {
      font-size: 24px;
    }
  }
  
  .shake-horizontal {
    -webkit-animation: shake-horizontal 0.8s
      cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
    animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  }
 
  @-webkit-keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-10px);
      transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(10px);
      transform: translateX(10px);
    }
    80% {
      -webkit-transform: translateX(8px);
      transform: translateX(8px);
    }
    90% {
      -webkit-transform: translateX(-8px);
      transform: translateX(-8px);
    }
  }
  @keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-10px);
      transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(10px);
      transform: translateX(10px);
    }
    80% {
      -webkit-transform: translateX(8px);
      transform: translateX(8px);
    }
    90% {
      -webkit-transform: translateX(-8px);
      transform: translateX(-8px);
    }
  }